@import "../global/variables";
@import "../global/mixins";

.button {
  position: relative;
  display: inline-block;
  padding: 5px 39px;
  vertical-align: baseline;
  text-transform: uppercase;
  font-weight: 700;
  font-size: @base-font-size + 1px;
  line-height: @base-line-height + 8px;
  color: @dark-blue-color;
  text-decoration: none;
  background-color: @lite-yellow;
  border: none;
  border-radius: 20px;
  transition: 0.2s;

  &:hover {
    background-color: @normal-yellow-color;
  }

  &:focus {
    background-color: @normal-yellow-color;
    color: rgba(@dark-blue-color, 0.3);

    .button__icon {
      opacity: 0.3;
    }
  }
}

.button__icon {
  fill: #1d2e5b;
}

.button--with-icon {
  width: 100%;
  padding: 16px 45% 16px 25px;
  letter-spacing: 0.3px;
  border-radius: 13px;
  text-transform: inherit;
}

.button--with-icon .button__icon {
  position: absolute;
  right: 23px;
  top: 24px;
}

.button--traveler-all {
  margin-top: 20px;
}

.button--mailing {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  width: 60px;
  height: 62px;
  border-radius: 10px;
}

.button--mailing svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button--location {
  padding: 14px 20% 13px 21px;
  color: #1d2e5b;
  letter-spacing: 0.5px;
  background-color: transparent;
  border: 3px solid @base-blue-color;
}
