@import "../global/variables";
@import "../global/mixins";

.button {
  display: inline-block;
  padding: 5px 39px;
  vertical-align: baseline;
  text-transform: uppercase;
  font-weight: 700;
  font-size: @base-font-size + 1px;
  line-height: @base-line-height + 8px;
  color: @dark-blue-color;
  text-decoration: none;
  background-color: @lite-yellow;
  border-radius: 20px;
}
