@import "../global/variables";
@import "../global/mixins";

.hobbies {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}

.hobbies__icon {
  opacity: 0.15;
}

.hobbies__item--active .hobbies__icon {
  opacity: 1;
  fill: #1d2e5b;
}

.hobbies__item {
  position: relative;
  margin-right: 17px;

  &::before {
    content: " ";
    position: absolute;
    left: 50%;
    top: 100%;
    margin-top: -8px;
    border: 8px solid transparent;
    border-bottom: 8px solid #101d41;
    transform: translate3d(-50%, 0, 0);
    opacity: 0;
  }

  &::after {
    content: attr(data-hint);
    position: absolute;
    left: 50%;
    top: 100%;
    margin-top: 8px;
    padding: 17px 21px 16px 21px;
    background-color: #101d41;
    font-size: @base-font-size + 4px;
    font-weight: 400;
    line-height: @base-line-height + 2px;
    color: @white-color;
    border-radius: 4px;
    transform: translate3d(-50%, 0, 0);
    pointer-events: none;
    opacity: 0;
    z-index: -3;
  }

  &:hover {
    &::after {
      opacity: 1;
      z-index: 3;
    }

    &::before {
      opacity: 1;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.hobbies__item--bus {
  margin-right: 13px;
}

.hobbies__item--bike {
  margin-right: 10px;
}
