@import "../global/variables";
@import "../global/mixins";

.hobbies {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}

.hobbies__icon {
  opacity: 0.15;
}

.hobbies__item--active .hobbies__icon {
  opacity: 1;
  fill: #1d2e5b;
}

.hobbies__item {
  margin-right: 17px;

  &:last-child {
    margin-right: 0;
  }
}

.hobbies__item--bus {
  margin-right: 13px;
}

.hobbies__item--bike {
  margin-right: 10px;
}
