@import "../global/variables";
@import "../global/mixins";

.how-work__list {
  padding: 0;
  margin: 0;
  list-style: none;
  counter-reset: item;
}

.how-work__item {
  position: relative;
  padding: 11px 38% 33px 9%;
  font-weight: 700;
  color: @dark-blue-color;
  font-size: @base-font-size + 2px;
  line-height: @base-line-height - 4px;
  background-color: #ff8d30;

  &::after {
    content: counter(item);
    counter-increment: item;
    position: absolute;
    right: 22px;
    top: 11px;
    font-size: inherit;
    line-height: inherit;
    color: @white-color;
  }

  &::before {
    content: " ";
    position: absolute;
    top: -10px;
    left: 0;
    display: block;
    width: 100%;
    height: 10px;
    background-color: @orange-color;
    border-radius: 10px 10px 0 0;
  }
}

.how-work__item--idea {
  background-color: @orange-light-color;

  &::before {
    background-color: @orange-light-color;
  }
}

.how-work__item--similar {
  background-color: @normal-yellow-color;

  &::before {
    background-color: @normal-yellow-color;
  }
}

.how-work__item--together {
  background-color: @lite-yellow;
  border-radius: 0 0 10px 10px;
  padding-bottom: 22px;

  &::before {
    background-color: @lite-yellow;
  }
}
