@import "../global/variables";
@import "../global/mixins";

.how-work__list {
  padding: 0;
  margin: 0;
  list-style: none;
  counter-reset: item;
}

.how-work__item {
  position: relative;
  padding: 11px 38% 33px 9%;
  font-weight: 700;
  color: @dark-blue-color;
  font-size: @base-font-size + 2px;
  line-height: @base-line-height - 4px;
  background-color: #ff8d30;

  &::after {
    content: counter(item);
    counter-increment: item;
    position: absolute;
    right: 22px;
    top: 11px;
    font-size: inherit;
    line-height: inherit;
    color: @white-color;
  }

  &::before {
    content: " ";
    position: absolute;
    top: -10px;
    left: 0;
    display: block;
    width: 100%;
    height: 11px;
    background-color: @orange-color;
    border-radius: 10px 10px 0 0;
  }
}

.how-work__item--idea {
  background-color: @orange-light-color;

  &::before {
    background-color: @orange-light-color;
  }
}

.how-work__item--similar {
  background-color: @normal-yellow-color;

  &::before {
    background-color: @normal-yellow-color;
  }
}

.how-work__item--together {
  background-color: @lite-yellow;
  border-radius: 0 0 10px 10px;
  padding-bottom: 22px;

  &::before {
    background-color: @lite-yellow;
  }
}

@media (min-width: @table-width) {
  .how-work__item {
    width: 50%;
    padding: 29px 18% 24px 5%;
    font-size: @base-font-size + 8px;
    line-height: @base-line-height + 2px;

    &::before {
      display: none;
    }

    &::after {
      position: static;
      display: block;
      margin-top: 4px;
      font-size: @base-font-size * 2 - 2px;
      line-height: normal;
    }

    &:nth-child(odd) {
      border-radius: 20px 0 0 0;

      &::before {
        display: block;
        left: 100%;
        top: 0;
        width: 20px;
        height: 100%;
        border-radius: 0;
      }
    }

    &:nth-child(even) {
      border-radius: 20px 20px 0 0;
    }

    &:nth-last-child(2) {
      border-radius: 0 0 0 20px;
    }

    &:nth-last-child(1) {
      border-radius: 0 0 20px 20px;
    }
  }

  .how-work__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: @laptop) {
  .how-work__item {
    width: 25%;
    padding: 29px 5% 31px 20px;
    border-radius: 20px 0 0 20px;

    &:nth-child(even),
    &:nth-child(odd) {
      border-radius: 0;

      &::before {
        content: " ";
        position: absolute;
        display: block;
        left: -20px;
        top: 0;
        width: 20px;
        height: 100%;
        border-radius: 20px 0 0 20px;
        z-index: 1;
      }
    }

    &:first-child {
      border-radius: 20px 0 0 20px;
      padding-left: 35px;

      &::before {
        display: none;
      }
    }

    &:last-child {
      border-radius: 0 20px 20px 0;
    }

    &::after {
      position: absolute;
      top: 29px;
      right: 35px;
      font-size: @base-font-size + 8px;
    }
  }
}

@media (min-width: @laptop-l) {
  .how-work__item {
    padding-right: 108px;

    &:first-child {
      &::after {
        right: 50px;
        top: 21px;
      }
    }

    &::after {
      top: 23px;
    }

    &:last-child {
      max-width: 315px;
      padding-left: 31px;
      border-radius: 20px;

      &::before {
        border-radius: 0;
        left: 0;
        background-color: @normal-yellow-color;
        z-index: -1;
      }
    }
  }

  .how-work__list .how-work__item--idea {
    padding-left: 15px;

    &::before {
      left: -15px;
    }
  }

  .how-work__list .how-work__item--similar {
    min-width: 344px;
    padding-right: 121px;
    border-radius: 20px 0 0 20px;

    &::before {
      border-radius: 0;
      left: 0;
      background-color: @orange-light-color;
      z-index: -1;
    }
  }

  .how-work__item--similar {
    padding-left: 32px;
  }
}
