@import "../global/variables";
@import "../global/mixins";

.interested {
  position: relative;
  padding-top: 70px;
  padding-bottom: 28px;
  background-color: @base-blue-color;
  border-radius: 0 0 30px 30px;
  color: @white-color;

  &::before {
    content: " ";
    position: absolute;
    height: 33px;
    top: -33px;
    width: 100%;
    background-color: @base-blue-color;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 33px;
    width: 100%;
    background-color: @lite-yellow;
    z-index: -1;
  }
}

.interested__headline {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.interested__description {
  width: 76%;
  margin: 20px auto 30px auto;
  text-align: center;
  font-size: @base-font-size;
  line-height: @base-line-height;
}

.interested__description a {
  color: @lite-yellow;

  &:hover {
    color: @normal-yellow-color;
  }

  &:focus {
    color: rgba(@normal-yellow-color, 0.3);
  }
}

.interested__mailing input::placeholder {
  color: rgba(@black-color, 0.3);
}

.interested__mailing input {
  width: 100%;
  height: 62px;
  padding: 0 85px 0 22px;
  font-size: @base-font-size + 2px;
  font-weight: 700;
  font-family: inherit;
  line-height: @base-line-height - 4px;
  color: @white-color;
  border-color: transparent;
  border-radius: 10px;
  transition: all 0.2s;

  &:hover {
    &::placeholder {
      color: rgba(@black-color, 0.5);
    }
  }

  &:focus {
    background-color: @base-blue-color;
    border: 1px solid @white-color;
    outline: none;
  }

  &:invalid {
    color: @red-color;
    background-color: @pink-color;
  }
}

.interested__mailing form {
  position: relative;
}

.interested__question {
  width: 80%;
  margin: 27px auto 0 auto;
  font-weight: 300;
  font-size: @base-font-size;
  line-height: @base-line-height;
  text-align: center;
}

.interested__laptop-visible {
   display: none;
}

@media (min-width: @table-width) {
  .interested__description {
    width: 90%;
    margin-top: 61px;
    margin-bottom: 65px;
    font-size: @base-font-size * 2 - 4px;
    line-height: @base-line-height + 11px;
  }

  .interested__description br {
    display: none;
  }

  .interested__description .interested__separator--tablet-visible {
    display: block;
  }

  .interested__mailing input {
    height: 81px;
    padding: 0 108px 0 32px;
    font-size: @base-font-size + 8px;
    border-radius: 20px;
  }

  .interested__mailing {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .interested__question {
    margin-top: 57px;
    width: 100%;
    font-size: @base-font-size + 12px;
    line-height: @base-line-height + 11px;
  }

  .interested__question br {
    display: none;
  }

  .interested {
    border-radius: 0 0 60px 60px;
    padding-bottom: 59px;

    &::after {
      height: 65px;
    }

    &::before {
      height: 65px;
      top: -62px;
    }
  }
}

@media (min-width: @laptop) {
  .interested__mailing form {
    display: flex;
  }

  .interested__mailing input {
    border-radius: 20px 0 0 20px;
    width: calc(100% - 325px);
  }
}

@media (min-width: @laptop-l) {
  .interested {
    padding-top: 102px;
    padding-bottom: 101px;
  }

  .interested__description {
    margin-bottom: 59px;
  }

  .interested__mailing {
    max-width: 89%;
  }

  .interested__laptop-visible {
    display: inline;
  }

  .interested__laptop-hidden {
    display: none;
  }

  .interested__question {
    margin-top: 63px;
  }
}
