@import "../global/variables";
@import "../global/mixins";

.location {
  position: relative;
  padding-top: 32px;
  padding-bottom: 5px;
  background-color: @lite-yellow;
  z-index: 2;

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 30px;
    border-radius: 0 0 30px 30px;
    z-index: 3;
    background-color: @lite-yellow;
  }
}

.location__address {
  position: relative;
  width: 85%;
  padding-left: 61px;
  margin: 0 0 32px 0;
  font-weight: 700;
  color: @base-blue-color;
  text-transform: uppercase;
}

.location__icon {
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: @darken-blue-color;
  transform: translateY(-50%);
}

.location__icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  fill: @lite-yellow;
}
