@import "../global/variables";
@import "../global/mixins";


.promo {
  color: @white-color;
  background-color: @dark-blue-color;
  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-size: 100% 569px;
  background-repeat: no-repeat;
  background-position: 0 -78px;
}

.promo__inner {
  position: relative;
  padding-top: 11px;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    left: 25%;
    top: 144px;
    width: 192px;
    height: 255px;
    background-image: url("../img/traveller-illustration-mobile@1x.png");
    background-size: 192px 255px;
    z-index: -1;
  }
}

.promo__headline {
  margin-top: 0;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.promo__help-block {
  display: flex;
  justify-content: center;
  margin-top: 247px;
  margin-left: -25px;
  margin-right: -25px;
  padding-left: 25px;
  padding-right: 25px;
  background-image: linear-gradient(to bottom, transparent 50%, #161c35 50%);
}

.promo__reviews {
  margin: 0 -25px 0 -25px;
  padding: 28px 49px;
  background-color: #161c35;
}

.promo__comment {
  margin: 0 0 17px 0;
  width: 150px;
  text-align: left;
  font-weight: 300;
  line-height: @base-line-height;
  font-size: @base-font-size;
}

.promo__author {
  display: block;
  width: 155px;
  font-style: normal;
  font-weight: 700;
  line-height: @base-line-height;
}

.promo__how-work {
  position: relative;
  padding: 13px 25px 39px 25px;
  margin: 0 -25px;
  background-color: @base-blue-color;
  background-image: linear-gradient(to top, @base-blue-color 77%, #161c35 23%);
}
