@import "../global/variables";
@import "../global/mixins";


.promo {
  color: @white-color;
  background-color: @dark-blue-color;
  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-size: 100% 569px;
  background-repeat: no-repeat;
  background-position: 0 -78px;
}

.promo__inner {
  position: relative;
  padding-top: 11px;
  z-index: 1;
}

.promo__headline {
  margin-top: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.promo__help-block {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 247px;
  margin-left: -25px;
  margin-right: -25px;
  padding-left: 25px;
  padding-right: 25px;
  background-image: linear-gradient(to bottom, transparent 50%, #161c35 50%);
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    left: 25%;
    bottom: 20px;
    width: 192px;
    height: 255px;
    background-image: url("../img/traveller-illustration-mobile@1x.png");
    background-size: 192px 255px;
    z-index: -1;
  }
}

.promo__reviews {
  margin: 0 -25px 0 -25px;
  padding: 28px 49px;
  background-color: #161c35;
}

.promo__comment {
  margin: 0 0 17px 0;
  width: 72%;
  max-width: 310px;
  text-align: left;
  font-weight: 300;
  line-height: @base-line-height;
  font-size: @base-font-size;
}

.promo__author {
  display: block;
  width: 72%;
  max-width: 420px;
  font-style: normal;
  font-weight: 700;
  line-height: @base-line-height;
}

.promo__how-work {
  position: relative;
  padding: 13px 25px 39px 25px;
  margin: 0 -25px;
  background-color: @base-blue-color;
  background-image: linear-gradient(to top, @base-blue-color 77%, #161c35 23%);
}

.promo__author br {
  display: none;
}

@media (min-width: @mobile-width) {
  .promo__help-block {
    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .promo__comment {
    margin-left: auto;
    margin-right: auto;
  }

  .promo__author {
    margin-left: auto;
    margin-right: auto;
  }

  .promo__help-block .button {
    flex-grow: 1;
    text-align: center;
  }
}

@media (min-width: @table-width) {
  .promo__inner {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .promo__headline {
    width: 63%;
    order: -2;
    margin-bottom: 88px;
  }

  .promo__reviews {
    padding: 0 0 0 59px;
    order: -1;
    background-color: transparent;
  }

  .promo__comment {
    width: 270px;
    max-width: 100%;
    margin-left: 0;
    margin-bottom: 44px;
    font-size: @base-font-size * 2 - 4px;
    line-height: @base-line-height  + 11px;
  }

  .promo__author {
    width: 260px;
    max-width: 100%;
    margin-left: 0;
    line-height: @base-line-height + 3px;
    font-size: @base-font-size + 5px;
  }

  .promo__author br {
    display: block;
  }

  .promo {
    background-color: #182044;
    background-image: url(../img/globe-back-tablet@1x.jpg);
    background-size: 1479px 612px;
    background-position: center 245px;
  }

  .promo__help-block {
    display: none;
  }

  .promo__how-work {
    position: relative;
    margin: 213px -40px 0 -40px;
    padding: 0 40px;
    background-image: linear-gradient(to bottom, #2d3250 50%, #192144 50%);

    &::before {
      content: "";
      position: absolute;
      right: 14.5%;
      bottom: 100%;
      width: 372px;
      height: 451px;
      background-image: url("../img/traveller-illustration-tablet@1x.png");
    }
  }
}
