@import "../global/variables";
@import "../global/mixins";

.site-header {
  padding-top: 27px;
  padding-bottom: 27px;
  color: @white-color;
  background-color: @dark-blue-color;
}

.site-header__inner {
  display: flex;
  justify-content: space-between;
}

.site-header__logo {
  width: 100px;
}
