@import "../global/variables";
@import "../global/mixins";


.social {
  padding-left: 0;
  list-style-type: none;
}

.social--row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #1d2e5b;
  transition: all 0.2s;
}

.social--yellow .social__link {
  background-color: @lite-yellow;

  &:hover {
    color: @white-color;
    background-color: @base-blue-color;
  }

  &:focus {
    color: rgba(@white-color, 0.3);
    background-color: @base-blue-color;
  }
}
