@import "../global/variables";
@import "../global/mixins";

.traveler {
  padding-left: 0;
  margin: 0;
  color: #1d2e5b;
  list-style: none;
}

.traveler__flags {
  position: relative;
  top: -11px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  margin: 0;
  line-height: initial;
  list-style: none;
}

.traveler__img {
  display: block;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.traveler__info-block {
  position: relative;
  padding: 0 5% 17px 5%;
  background-color: @white-color;
  border-radius: 0 0 10px 10px;
}

.traveler__flag-img {
  display: block;
}

.traveler__name {
  margin: -4px auto 0 auto;
  width: 67%;
}

.traveler__link {
  position: relative;
  display: block;
  padding-left: 17px;
  font-weight: 700;
  text-decoration: none;
  color: #1d2e5b;
  font-size: @base-font-size + 5px;

  &::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 9px;
    display: block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

.traveler__hash-tag {
  margin: 15px 0;
  text-align: center;
  color: @black-color;
  font-size: @base-font-size;
  font-weight: 400;
  line-height: @base-line-height - 4px;
}

.traveler__item--offline .traveler__link {
  &::before {
    background-color: @red-color;
  }
}

.traveler__item--online .traveler__link {
  &::before {
    background-color: @green-color;
  }
}

.traveler__flag {
  margin-right: 17px;

  &:last-child {
    margin-right: 0;
  }
}

.traveler--companions {
  position: relative;
  margin-top: 58px;
  z-index: 1;

  &::before {
    content: " ";
    position: absolute;
    left: -36px;
    top: -36px;
    display: block;
    width: 71px;
    height: 71px;
    background-image: url("../img/rogovaya-back-mobile@1x.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/rogovaya-back-mobile@2x.png");
    }
  }
}

.traveler__hobbies {
  width: 135px;
  margin-left: 61px;
  margin-top: 16px;
  margin-bottom: 0;
}

.traveler__item {
  position: relative;
  margin-bottom: 11px;

  &:last-child {
    margin-bottom: 0;
  }
}

.traveler__item--second .traveler__name {
  width: 61%;
  margin: 0 auto 0 auto;
}

.traveler__item--second .traveler__hash-tag {
  width: 154px;
  margin-left: 52px;
}

.traveler__visual a {
  display: block;
}

.traveler__card {
  transition: 0.2s;
}

.traveler__card:hover {
  box-shadow: 0 6px 21px rgba(0, 0, 0, 0.08);
}

@media (min-width: @mobile-width) and (max-width: 767px) {
  .traveler__name {
    max-width: 162px;
    margin-left: auto;
    margin-right: auto;
  }

  .traveler__hash-tag,
  .traveler__item--second .traveler__hash-tag {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: @table-width) {
  .traveler--companions {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 61px auto 0 auto;
  }

  .traveler--companions::before {
    display: none;
  }

  .traveler--companions .traveler__item {
    width: 46.3%;
    display: flex;
    margin-bottom: 48px;

    &:nth-child(2n) {
      margin-left: auto;
    }
  }

  .traveler--companions .traveler__card {
    width: 100%;
    flex-direction: column;
    display: flex;
  }

  .traveler__link {
    font-size: @base-font-size + 8px;
    line-height: @base-line-height + 2px;

    &::before {
      width: 7px;
      height: 7px;
      left: -4px;
    }
  }

  .traveler__item--second .traveler__link::before {
    left: -8px;
  }

  .traveler--companions .traveler__info-block {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0 5% 22px 5%;
    border-radius: 0 0 20px 20px;
  }

  .traveler__item--second .traveler__hash-tag {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .traveler__hash-tag {
    width: 100%;
    margin: 20px auto 27px auto;
    font-size: @base-font-size + 4px;
    line-height: @base-line-height + 2px;
  }

  .traveler__hobbies {
    margin-top: auto;
  }

  .traveler__name {
    margin-top: 0;
    width: 72%;
  }

  .traveler__item--second .traveler__name {
    margin-top: 4px;
  }
}

@media (min-width: @laptop) {
  .traveler--companions {
    width: 630px;
    margin-right: 0;
    margin-top: 0;
  }
}

@media (min-width: @laptop-l) {
  .traveler--companions {
    padding-top: 8px;
  }

  .traveler--companions .traveler__item {
    width: 285px;
  }

  .traveler--companions .traveler__img {
    border-radius: 17px 17px 0 0;
  }
}
